@charset "UTF-8";

body {
	font-family: sans-serif;
	margin: 0px;
	overflow-x: hidden;
}
form {
	margin: 0px;
}
button {
	background-color: lightyellow;
	margin: 1px;
	cursor: pointer;
	border-radius: 28px;
	white-space: nowrap;
	border: 1px solid brown;
}
button#check_botton {
	margin-top: 4px;
	margin-right: -6px;
}
.header_load {
	color: white;
}
div#container {
	width: 100%;
}
div#lists {
	padding: 0px;
	width: 100%;
	background-color: goldenrod;
}
div#lists_of_topics {
	background-color: gold;
	padding: 0px;
	width: 100%;
}
div#grads_check {
	margin-right: 10px;
	float: right;
}
div#header {
	color: white;
	white-space: nowrap;
	background-color: firebrick;
	padding: 10px;
}
div#menu {
	display: table-cell;
	background-color: white;
	min-width: 200px;
	height: 600px;
	width: 20%;
	overflow: scroll;
	overflow-x: hidden;
	border-right-style: solid;
	border-width: 1px;
	border-color: grey;
}
div#discussion_list {
	margin: 5px;
	border-spacing: 50px;
	height: 	550px;
}
table#discussion_list {
	border-collapse: collapse;
}
tr#discussion_row {
	background-color: white;
	margin: 0px;
	border: thin solid grey;
	border-style: solid none;
}
div#main_area {
	display: table-row;
}
div#content {
	display: table-cell;
	height: 600px;
	width: 80%;
	overflow: scroll;
	overflow-x: hidden;
}
div#discussion_title {
	margin: 20px;
	font-size: 20px;
	font-weight: bold;
}
div#new_title {
	margin: 20px;
	font-size: 20px;
	font-weight: bold;
}
div#new_input_discussion {
	height: 25px;
}
div#discussion_content {
	margin: 50px;
}
div#respond {
	margin: 50px;
}
div#grades_panel {
	background-color: HoneyDew;
	min-height: 500px;
	height: auto;
	width: 100%;
	padding-bottom: 100px;
}
div#grade_name {
	margin-left: 250px;
}
div#grades_c {
	margin-top: 40px;
	margin-left: 80px;
}
div#grades_c_all {
	margin-top: 20px;
	margin-left: 100px;
}
h1 {
	margin-bottom: 0px;
	margin-top:0px;
}
h2 {
	margin-bottom: 0px;
	font-size:18px;
}
ul {
	margin: 0px;
}
li {
	list-style: none;
}
