.course_list
{
	border: solid;
}

.course_node
{
	display: inline;
	color: red;
	border: solid;
	margin-right: -10px;
	padding: 0px 5px;
}

.assignment_list
{	border: solid;
}

.assignment_node
{
	display: inline;
	color: blue;
	border: solid;
	margin-right: -10px;
	padding: 0px 5px;
}

.page_feed
{
	width: 250px;
	color: green;
	float: left;
}

.page_node
{
	height: 75px;
	border-color: green;
	border: solid;
	border-collapse: collapse;
}

.main_panel
{
	position: absolute;
	left: 250px;
	border: solid;
	padding-left: 15px;
	margin-left: 5px;
	margin-right: 10px;
}
